{% extends 'base.html.twig' %}

{% block body %}
  <div id="wrapper">
    <div id="container">
      <h1>Create location</h1>

      {{ form_start(form) }}

      <div class="form-group">
        {{ form_label(form.path) }}
        {{ form_widget(form.path, {'attr': {'class': 'form-control'}}) }}
      </div>

      <div class="form-group">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-default'}}) }}
      </div>

      {{ form_widget(form) }}
      {{ form_end(form) }}

    </div>
  </div>
{% endblock %}
